<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>form</title>
     Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<<!-- script type="text/javascript">
    function validation(){
        var first=document.getElementById('First').value;
        if (First==" ") {
            document.getElementById('Firstname').innerHTML="***Please fill the first name field";
            return false;   
        }
        if(First.length<=8)||(user.length>20){
            docu.getElementById('First name').innerHTML="* user length must be between 2&20";
            return false;
        }
        if(!is Non(First)){
            document.getElementById('First name').innerHTML="* numbers cannot be allowed";
        }
    }
</script> -->
<html>
    <head>
        <script>
            function GEEKFORGEEKS() {
                var firstnamename = 
                    document.forms["RegForm"]["firstname"];
                var lastnamename = 
                    document.forms["RegForm"]["lastname"];
                var email = 
                    document.forms["RegForm"]["EMail"];
                var mobile = 
                    document.forms["RegForm"]["mobile"];
                
                var gender=document.forms["RegForm"]["gender"]
                var what = 
                    document.forms["RegForm"]["Subject"];
  
                if (firstname.value == "") {
                    window.alert("Please enter your firstname.");
                    firstname.focus();
                    return false;
                }
                 if (lastname.value == "") {
                    window.alert("Please enter your lastname.");
                    lastname.focus();
                    return false;
                }
  
                if (address.value == "") {
                    window.alert("Please enter your address.");
                    address.focus();
                    return false;
                }
  
                if (email.value == "") {
                    window.alert(
                      "Please enter a valid e-mail address.");
                    email.focus();
                    return false;
                }
  
                if (phone.value == "") {
                    window.alert(
                      "Please enter your telephone number.");
                    phone.focus();
                    return false;
                }
  
                if (password.value == "") {
                    window.alert("Please enter your password");
                    password.focus();
                    return false;
                }
  
                if (what.selectedIndex < 1) {
                    alert("Please enter your country.");
                    what.focus();
                    return false;
                }
  
                return true;
            }
        </script>
  
        <style>
            div {
                box-sizing: border-box;
                width: 100%;
                border: 100px solid black;
                float: left;
                align-content: center;
                align-items: center;
            }
  
            form {
                margin: 0 auto;
                width: 600px;
            }
        </style>
    </head>
  
    <body>
        <h1 style="text-align: center;">REGISTRATION FORM</h1>
        <form name="RegForm" action="/submit.php" 
              onsubmit="return GEEKFORGEEKS()" method="post">
            <label>Firstname: </label><br>
            <input type="text" size="65" name="Firstname" /><br>
            <br />
            <label>Lastname:</label><br>
             <input type="text"  size="65" name="Lastname" />
          </p>
            <br />
            <label>E-mail Address:</label><br>
             <input type="text"  size="65" name="EMail" /><br>
            <br />
            <label>Mobile:</label> <br>
                <input type="text" size="65" name="mobile" /><br>
            <br />
            <label>Gender</label><br>
            <input type="radio" name="text">Male
             <input type="radio" name="text">Female
             <br><br/>
  
            <label>country</label>
                <select type="text" value="" name="Subject">
                    <option>Select</option>
                    <option>Bulgaria</option>
                    <option>Ethiopia</option>
                    <option>France</option>
                    <option>India</option>
                </select>
            
            <br />
            <br />
            <input type="checkbox" name="check"><label>Disclaimer:</label>
            <br/>

                <input type="submit" 
                       value="send" name="Submit" />
                <input type="reset" 
                       value="Reset" name="Reset" />
        
        </form>
    </body>
</html>